.bg-color {
  background-color: #ffffff;
}

.border {
  border: solid 2px #ffffff;
}

.sub-container-1 {
  width: 20%;
  min-width: 220px;
  border-radius: 6px;
}

@media screen and (max-width: 850px) {
  .sub-container-1 {
    width: 80%;
    margin-bottom: 10px;
    padding: 15px;
    align-self: center;
  }
}

@media screen and (max-width: 650px) {
  .sub-container-1 {
    width: 95%;
  }
}

.user-logo {
  top: 0;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .user-logo {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .user-logo {
    width: 80%;
  }
}

.user-profile > h1 {
  margin-bottom: -15px;
}

.links-group {
  display: flex;
  justify-content: center;
}

.links-group img {
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.links-group img:hover {
  cursor: pointer;
}

.details {
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}


.location {
  display: flex;
  align-items: center;
  margin: 2px;
}

@media screen and (max-width: 850px) {
  .location {
    justify-content: center;
  }
}

.details img {
  width: 17px;
  height: 25px;
}
.details p, a {
  margin: 0;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.anchor:hover {
  cursor: pointer;
}