.f-cont {
  flex: 1;
}

.edc-main {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
  .edc-main {
    flex-direction: column;
  }
}

.edc-header {
  font-size: 30px;
  font-weight: 500;
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}

.f-cont h4 {
  font-size: large;
  font-weight: 550;
  margin-top: 25px;
  margin-bottom: 0;
}

.ach-cont {
  flex: 1;
}
